*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.container {
    padding: 120px 80px;
}
.banner-topo{
      background-image:url("/img/banner-topo.jpg") ;
      background-position: center;
      background-size: cover;
}

.container-nome-logo {
  max-width: 250px;
  color: #3c184e;
}
.nome-pet-shop {
  font-size: 35px;
  margin: 0 0 5px 0;
}

.container-nome-logo .slogan-pet-shop{
  font-size: 14; 
  text-align: center;
  margin: 0;
}
.container-nome-logo img {
  width: 30px;
  margin-right: 5px;
}
.container-titulo-topo{
  max-width: 1024px;
  border-radius: 10px;
  padding: 10px;
  margin: 150px auto 0;
  background: #ffffffc4;
  box-shadow: 0 8px 32px #1f26875e;
}
.titulo-topo {
  font-size: 40px;
  color: #3c184e;
  text-align: center;
  font-weight: 800;
  margin: 0 0 40px;
}
.fale-conosco a { 
  color: #fff;
}
.fale-conosco{
  text-align: center;
  width: 200px;
  padding: 10px 25px;
  font-size: 20px;
  background-color: #3c184e;
  border-radius: 10px;
  margin:  0 auto;
}

/* Serviços */
.servicos { 
  max-width: 800px;
  color: #3c184e;
  margin: 0 auto 50px;
}
.servicos li {
 font-size: 20px;
 margin: 0 0 20px; 
}
.box-servicos-img img{
  box-shadow:- 3px 6px 10px 6px #0000005c;
  border-radius: 5px;
}

.box-servicos-img {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
/* Início CSS Faixa */
.redes-sociais img {
  width: 50px;
  height: 50px;
}
.faixa {
  background-color: #3c184e;
  text-align: center;
}
.text-faixa {
  max-width: 800px;
  margin: 0 auto 50px;
  color: #fff;
  font-size: 40px;
}
.redes-sociais a {
  margin: 0 20px;
}

/* Fim CSS Faixa */7


/* Início  onde estamos */
.onde-estamos{
  text-align: center;
}
.container{
  text-align: center;
}
.onde-estamos p {
  color: #3c184e;
  font-size: 20px;
  margin: 0 0 45px;
}
.onde-estamos iframe {
  width: 800px;
  height: 450px;
}
.container h3 {
  margin-bottom: 30px;
  font-size: 30px;

}
/* Fim onde estamos */
/* Início do rodapé */
.rodape {
    background-color: #3c184e;
    padding: 10px 0;
}
.text-rodape {
 color:#fff;
 font-size: 12px;
 text-align: center;
}
/*  Fim do rodapé */


